* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul,
ol {
    list-style: none;
}


a {
    color: currentColor;
    text-decoration: none;
}
body{
    background-color: #ffffff;
}

/* ------------------------------------- */

.header {
    display: flex;          
    justify-content: space-between; 
    align-items: center;    
    padding: 14px 16px;
    background-color: #f4f4f4;
    color: black;
  }

  
  .header div {
    font-size: 20px; 
    padding: 20px;
  }
  
  nav ul {
    display: flex;          
  }
  
  nav ul li {
    margin-right: 20px;
    font-weight: bold;     
  }
  nav li:hover {
   background-color: rgb(24, 24, 23);
   color: #f4f4f4;
   border-radius: 50px;
   padding: 5px;
  }
  
